.notice-list {
  list-style-type: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 54px;
  margin-bottom: 1rem;
  text-align: left;
}

.s-n {
  background: #e9e8e8;
  position: absolute;
  line-height: 1;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  width: 60px;
  padding: 17px;
}

.notice-text {
  padding: 9px;
  line-height: 1;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  margin-left: 4rem;
  color: #202c45;
}

.notice-text a {
  color: #202c45;
  font-weight: 500;
}

.notice-text a:hover {
  font-weight: 600;
}

.notice-text:hover {
  color: #7575f8;
  text-decoration: underline;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.date {
  font-size: 13px;
  text-align: start;
  margin-top: 5px;
  color: #525252;
  font-weight: 700;
}

.section {
  position: relative;
}

.section .first-container {
  position: absolute;
  top: -250px;
  right: 0px;
  left: 0px;
  z-index: 1110;
}

.section .first-container .c-1 {
  background: white;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 0 #f1f1f1;
          box-shadow: 0 0 5px 0 #f1f1f1;
}

.section .first-container .c-1 .quicklinks .title {
  color: #202c45;
  font-weight: 700;
  font-size: 1.3rem;
  border-bottom: 1px #202c45 solid;
  padding: 10px;
  margin-bottom: 10px;
}

.section .first-container .c-1 .quicklinks .links {
  padding: 2px;
}

.section .first-container .c-1 .quicklinks .links ul li {
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid #eee;
}

.section .first-container .c-1 .quicklinks .links ul li a {
  text-decoration: none;
  background-color: transparent;
  font-size: 16px;
  color: #333;
}

.section .first-container .c-1 .quicklinks .links ul li a:hover {
  color: #f5803c;
}

.section .first-container .c-1 .min-about {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
  padding: 20px 30px;
  height: 500px;
  background: #202c45;
  color: white;
}

.section .first-container .c-1 .min-about .btn-about {
  background-color: #07bf51;
  color: white;
  font-weight: 600;
}

.section .first-container .c-1 .member img {
  border-radius: 5px;
}

.section .first-container .c-1 .member .name {
  padding-left: 5px;
  font-weight: 600;
  color: #202c45;
}

.section .first-container .c-1 .member .desig {
  padding-left: 5px;
  font-weight: 500;
  color: #6d6d6d;
  font-size: 0.9rem;
}

.section .first-container .c-1 .cta {
  background-color: #202c45;
  color: white;
  padding: 50px;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 3rem 0px;
  text-align: center;
  border-radius: 5px;
}

.section .first-container .c-1 .courses .title {
  color: #202c45;
  font-weight: 700;
  font-size: 1.3rem;
  border-bottom: 1px #202c45 solid;
  padding: 10px;
  margin: 30px 0px 10px 0px;
}

.section .first-container .c-1 .courses .course-list .course {
  display: none;
}

.section .first-container .c-1 .courses .course-list .course.active {
  display: block !important;
}

.section .first-container .c-1 .courses .course-list .coursetitle {
  padding: 5px;
  font-weight: 600;
  color: #202c45;
  cursor: pointer;
}

.section .first-container .c-1 .courses .course-list .coursetitle.active {
  background: #202c45;
  color: white;
}

.section .first-container .c-1 .courses .course-list .coursetitle.active::before {
  color: white;
  border-radius: 5px;
  content: "-";
  display: inline-block;
}

.section .first-container .c-1 .nav-tabs {
  border-bottom: none !important;
  padding: 20px 10px !important;
}

.section .first-container .c-1 .nav-tabs .nav-item.active .nav-link {
  background-color: transparent !important;
  border-bottom: 2px solid #202c45 !important;
  font-weight: 700;
}

.section .first-container .c-1 .nav-tabs .nav-item .nav-link {
  font-size: 1rem;
  font-weight: 600;
  color: #202c45;
  border: none;
  padding: 5px 10px;
  background-color: transparent !important;
  cursor: pointer;
}

.section .first-container .c-1 .minisection {
  border-radius: 5px;
}

.section .first-container .c-1 .minisection .minisection-title {
  background-color: #202c45;
  color: white;
  padding: 10px;
  text-align: center;
}

.section .first-container .c-1 .minisection .events {
  min-height: 200px;
}

.section .first-container .c-1 .minisection .events .event {
  list-style-type: none;
  padding: 1rem;
}

.section .first-container .c-1 .minisection .events .event .event-title {
  font-size: 18px;
  font-weight: 600;
}

.section .first-container .c-1 .minisection {
  border-radius: 5px;
}

.section .first-container .c-1 .minisection .minisection-title {
  background-color: #202c45;
  color: white;
  padding: 10px;
  text-align: center;
}

.section .first-container .c-1 .minisection .imp-link {
  min-height: 200px;
}

.section .first-container .c-1 .minisection .imp-link .links {
  padding: 2px;
}

.section .first-container .c-1 .minisection .imp-link .links ul li {
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid #eee;
}

.section .first-container .c-1 .minisection .imp-link .links ul li a {
  text-decoration: none;
  background-color: transparent;
  font-size: 16px;
  color: #333;
}

.section .first-container .c-1 .minisection .imp-link .links ul li a:hover {
  color: #f5803c;
}
/*# sourceMappingURL=landingpage2.css.map */