$pcolor: #202c45;
$scolor: #07bf51;

.notice-list {
  list-style-type: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 54px;
  margin-bottom: 1rem;
  text-align: left;
}
.s-n {
  background: #e9e8e8;
  position: absolute;
  line-height: 1;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  width: 60px;
  padding: 17px;
}

.notice-text {
  padding: 9px;
  line-height: 1;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: transform 0.2s;
  margin-left: 4rem;
  color: $pcolor;
  a {
    color: $pcolor;
    font-weight: 500;
    &:hover {
      font-weight: 600;
    }
  }
}
.notice-text:hover {
  color: rgb(117, 117, 248);
  text-decoration: underline;
  transform: scale(1);
}
.date {
  font-size: 13px;
  text-align: start;
  margin-top: 5px;
  color: rgb(82, 82, 82);
  font-weight: 700;
}
.section {
  position: relative;
  .first-container {
    position: absolute;
    top: -250px;
    right: 0px;
    left: 0px;
    z-index: 1110;
    .c-1 {
      background: white;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 5px 0 #f1f1f1;
      .quicklinks {
        .title {
          color: $pcolor;
          font-weight: 700;
          font-size: 1.3rem;
          border-bottom: 1px $pcolor solid;
          padding: 10px;
          margin-bottom: 10px;
        }
        .links{
            padding: 2px;
            ul{
                li{
                    padding: 10px 0 10px 10px;
                    border-bottom: 1px solid #eee;
                    a{
                        text-decoration: none;
                        background-color: transparent;
                        font-size: 16px;
                        color: #333;
                        &:hover{
                            color: rgb(245, 128, 60);
                        }
                    }
                }
            }
        }
      }
      .min-about {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
        padding: 20px 30px;
        height: 500px;
        background: $pcolor;
        color: white;
        .btn-about {
          background-color: $scolor;
          color: white;
          font-weight: 600;
        }
      }
      .member {
        img {
          border-radius: 5px;
        }
        .name {
          padding-left: 5px;
          font-weight: 600;
          color: $pcolor;
        }
        .desig {
          padding-left: 5px;
          font-weight: 500;
          color: #6d6d6d;
          font-size: 0.9rem;
        }
      }

      .cta {
        background-color: $pcolor;
        color: white;
        padding: 50px;
        font-weight: 600;
        font-size: 1.2rem;
        margin: 3rem 0px;
        text-align: center;
        border-radius: 5px;
      }

      .courses {
        .title {
          color: $pcolor;
          font-weight: 700;
          font-size: 1.3rem;
          border-bottom: 1px $pcolor solid;
          padding: 10px;
          margin: 30px 0px 10px 0px;
        }
        .course-list {
          .course {
            display: none;
            &.active {
              display: block !important;
            }
          }
          .coursetitle {
            padding: 5px;
            font-weight: 600;
            color: $pcolor;
            cursor: pointer;
            &.active {
              &::before {
                // height:10px;
                // width: 10px;
                color: white;
                border-radius: 5px;
                content: "-";
                display: inline-block;
              }
              background: $pcolor;
              color: white;
            }
          }
        }
      }

      .nav-tabs {
        border-bottom: none !important;
        padding: 20px 10px !important;
        .nav-item {
          &.active {
            .nav-link {
              background-color: transparent !important;
              border-bottom: 2px solid $pcolor !important;
              font-weight: 700;
            }
          }
          .nav-link {
            font-size: 1rem;
            font-weight: 600;
            color: $pcolor;
            border: none;
            padding: 5px 10px;
            background-color: transparent !important;
            cursor: pointer;
          }
        }
      }

      .minisection {
          border-radius:5px;
        .minisection-title {
          background-color: $pcolor;
          color: white;
          padding:10px;
          text-align: center;
          
        }
        .events{
            min-height: 200px;
            .event{
                list-style-type: none;
                padding: 1rem;
                .event-title{
                    font-size: 18px;
                    font-weight: 600;

                }
            }

        }
      }

      .minisection {
        border-radius:5px;
      .minisection-title {
        background-color: $pcolor;
        color: white;
        padding:10px;
        text-align: center;
        
      }
      .imp-link{
          min-height: 200px;
          .links{
            padding: 2px;
            ul{
                li{
                    padding: 10px 0 10px 10px;
                    border-bottom: 1px solid #eee;
                    a{
                        text-decoration: none;
                        background-color: transparent;
                        font-size: 16px;
                        color: #333;
                        &:hover{
                            color: rgb(245, 128, 60);
                        }
                    }
                }
            }
        }

      }
    }
    }
  }
}

@media (max-width: 768px) {
  .section {
    position: relative;
    .first-container {
      position: relative;
      top: 0px;
      right: 0px;
      left: 0px;
      z-index: 9999;
      .container {
        background: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 5px 0 #f1f1f1;
        .quicklinks {
          .title {
            color: $pcolor;
            font-weight: 700;
            font-size: 1.3rem;
            border-bottom: 1px $pcolor solid;
            padding: 10px;
            margin-bottom: 10px;
          }
        }
        .min-about {
          clip-path: none;
          padding: 20px 30px;
          height: auto;
          background: $pcolor;
          color: white;
          .btn-about {
            background-color: $scolor;
          }
        }
        .member {
          img {
            border-radius: 5px;
          }
          .name {
            padding-left: 5px;
            font-weight: 700;
            color: $pcolor;
            font-size: 1.5rem;
          }
          .desig {
            padding-left: 5px;
            font-weight: 500;
            color: #6d6d6d;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
